.navlink {
    margin-left: 100px;
    margin-right: 120px;
}

.shopping-cart-dropdown {
    min-width: 70px;  
    margin-right: 90px; 
}

.logout {
    min-width: 340px;
}
.shopping-cart-dropdown .dropdown-item {
    padding: 40px 50px 50px 40px;
}