/* .form-control {
    width: 750px;
    height: 50px;

  }
  
  #formBasicAmount .form-control {
    width: 100px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }

  body {
    background-color: white;
  }  */